body {
    background-image: url("https://i.pinimg.com/originals/52/11/33/5211331c3267926037327cb79eab9bd8.jpg");
 background-color: #cccccc;
 
}

  h2 { font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
  }

  a:link, a:visited {
    background-color: #ff3300;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:orange;
  }

 img {
   
     border-radius: 100%;
      
 }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 p {
    color:black;
}
.socialtag {
    text-align: center;
    font-size: 30px ;
}